<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Check music Existence</button>

<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<section>
<h1>Empty</h1>
<app-content-card *ngFor="let contentItem of contentItems | typeFilter: ''" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Pop</h1>
<app-content-card *ngFor="let contentItem of contentItems | typeFilter: 'Pop'" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Garba</h1>
<app-content-card *ngFor="let contentItem of contentItems | typeFilter: 'Garba'" [contentItem]="contentItem"></app-content-card>
</section>